<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Primary Meta Tags -->
        <title>{{title}}</title>
        <meta name="title" content= "{{title}}">
        <meta name="description" content= "{{description}}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{url}}">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="{{image}}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{url}}">
        <meta property="twitter:title" content="{{title}}">
        <meta property="twitter:description" content="{{description}}">
        <meta property="twitter:image" content="{{image}}">

        <!-- Theme -->
        <meta name="theme-color" content="#440db7">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="https://the-good-text.com/assets/favicon.png"/>

        <link rel="stylesheet" href="../style/bootstrap.min.css">
        <link rel="stylesheet" href="../style/markdown.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="blog-header py-3 md-body mx-auto">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-6 text-center">
                        <a href="../">
                            <img class="logo" src="../assets/logo.png" alt="inicio">
                        </a>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" href="https://play.google.com/store/apps/details?id=com.thegoodtext.app">Download App</a>
                    </div>
                </div>
            </header>
        </div>
    
        <main role="main" class="container">
            <div class="mx-auto md-body my-3">
                {{#if date}}
                    <h6 class="text-muted date" data-date="{{date}}"></h6>
                {{/if}}
                {{{data}}}
                {{#unless data}}
                    <img src="{{image}}" alt="" style="width: 100%;">
                    <p class="text-center mt-3">{{description}}</p>
                {{/unless}}
            </div>
            <div class="mx-auto md-body mt-3 mb-5">

                {{#if labels}}
                    <h5 class="py-3">
                        {{#each labels}}
                            <span class="badge badge-light font-weight-normal px-3 py-2">{{this}}</span>
                        {{/each}}
                    </h5>
                {{/if}}
                

                {{#if author}}
                    <div class="border-bottom border-top py-4 row mb-5">
                        <div class="ml-3">
                            <img class="ppic bg-primary" src="{{author.photo}}" alt="Author photo">
                        </div>
                        <div class="col">
                            <p class="text-muted my-0">Written by</p>
                            <h5 class="my-1 font-weight-bold">{{author.name}}</h5>
                            <p class="mb-0">{{author.description}}</p>
                        </div>
                        
                    </div>
                {{/if}}
                
            </div>
        </main>

        <footer class="d-flex align-items-center bg-primary text-white footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <a href="../">
                            <img class="logo" src="../assets/logo_light.png" alt="inicio">
                        </a>
                        <p class="mt-2">A wonderful writing app that let's you share your ideas in a richer way.</p>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Support</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-light" href="../legal/privacy-policy">Help Center</a>
                            </li>
                            <li>
                                <a class="text-light" href="../legal/terms-of-use">Getting started</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Legal</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-light" href="../legal/privacy-policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="text-light" href="../legal/terms-of-use">Terms of Service</a>
                            </li>
                        </ul>                       
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="../script/parseDate.js"></script>
</html>